body {
  margin: 0px;
  background-color: white;
  color: black;
}
#app {
  font-weight: normal;
}
header {
  font-size: 2em;
  color: white;
  margin-bottom: 20px;
  background-color: rgb(5, 49, 5);
  font-weight: bold;
  padding: 10px;
  text-align: center;
}
